body {
    font-family: 'Roboto', sans-serif;
}

#main-center {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    margin: auto;
}

#content-container {
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 20px;
    flex: 3;
}

#ui-container {
    flex-direction: column;
    padding: 20px;
    flex: 2;
}

/* lower level */

.ui-box {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 8px;
    background-color: black;
    color: white;
    margin: 12px;
}

.post {
    padding: 8px;
    margin-bottom: 16px;
}

.content-box {
    padding: 8px;
    background-color: #EEE;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 8px;
}

.bottom-box {
    padding: 8px;
    background-color: #BBB;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.score-box {
    padding: 8px;
    display: flex;
}

.score-box > div {
    flex: 1;
    text-align: center;
    margin: 6px;
    padding: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: white;
}

.action-box {
    padding: 8px;
    display: flex;
}

.action-button {
    flex: 1;
    margin: 4px;
    padding: 4px;
    border: 0;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.children {
    width: 90%;
}